.navigation {
  display: flex;
  align-items: center;
}

.navigation__btn {
  display: none;
}

.navigation__btn-line {
}

.navigation__list {
  display: flex;
  gap: 60px;
  align-items: center;
}

.navigation__item {
  font-weight: 300;
}

.navigation__link {
  font-weight: 300;
  font-size: 18px;
  line-height: calc(22 / 18);
}

@media (max-width: 1000px) {
  .navigation__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: calc(22 / 18);
  }

  .navigation__btn::after {
    content: "";
    display: block;
    width: 14px;
    height: 10px;
    background-image: url("/img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .navigation__list {
    position: absolute;
    height: 0;
    overflow: hidden;
  }
}

@media (max-width: 760px) {
  .navigation__btn {
    font-size: 0;
    position: relative;
    width: 18px;
    height: 12px;
  }

  .navigation__btn_line {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 2px;
    transform: translateY(-50%) scale(1);
    background-color: #272727;

    transition: transform 0.24s ease;
  }

  .navigation__btn::after,
  .navigation__btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #272727;
    transition: transform 0.24s ease, top 0.24s ease-in-out;
  }

  .navigation__btn::after {
    top: calc(100% - 2px);
  }

  .navigation__btn::before {
    top: 0;
  }

  .navigation__btn_active::after {
    top: 50%;
    transform: rotate(-45deg);
  }

  .navigation__btn_active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .navigation__btn_active .navigation__btn_line {
    transform: translateY(-50%) scale(0);
  }
}
