.navigation {
  display: flex;
  align-items: center;
}

.navigation__btn {
  display: none;
}

.navigation__btn-line {
}

.navigation__list {
  display: flex;
  gap: 60px;
  align-items: center;
}

.navigation__item {
  font-weight: 300;
}

.navigation__link {
  font-weight: 300;
  font-size: 18px;
  line-height: calc(22 / 18);
}

@media (max-width: 1000px) {
  .navigation__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    font-weight: 300;
    font-size: 18px;
    line-height: calc(22 / 18);
  }

  .navigation__btn::after {
    content: "";
    display: block;
    width: 14px;
    height: 10px;
    background-image: url("/img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .navigation__list {
    position: absolute;
    height: 0;
    overflow: hidden;
  }
}
